:root{
    --fc-event-bg-color: rgba(49, 138, 174, 0.5);
    --fc-event-border-color: #ffffff;
    --fc-event-text-color: #ffffff;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #1E74B1;
    --fc-button-border-color: #fff;
    --fc-button-hover-bg-color: #14527d;
    --fc-button-hover-border-color: #fff;
    --fc-button-active-bg-color: #1E74B1;
    --fc-button-active-border-color: #ffffff;
    --fc-list-event-dot-border-radius : 5px;
}

.fc a  {
    text-decoration: none;
    color : black;
}

.fc-scrollgrid-section {
  position: sticky; /* 헤더를 고정 */
  top: 0;
  z-index: 10; /* 헤더가 스크롤 콘텐츠 위로 올라오도록 설정 */
  background: white; /* 헤더 배경색 */
}


